<MudDialog>
    <TitleContent>
        <h4> أدخل رأس المال</h4>
    </TitleContent>
    <DialogContent >
        <div class="text-center">
            <MudTd DataLabel="الرصيد الأن"><MudNumericField Label=" ادخل قيمة رأس المال السنوي " For="@( () => ammount )" /></MudTd>
              <br />
            <div style="font-size:20px">@DateNow :تاريخ اليوم</div>
        </div>

    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit">Ok</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    private MudDialogInstance MudDialog { get; set; }
    [Parameter] public string CompanyName { get; set; }
    public String DateNow { get; set; } = DateTime.Now.ToString("yyyy-MM-dd");

    public int ammount { get; set; }

    private void Submit() => MudDialog.Close(DialogResult.Ok(true));

    private void Cancel() => MudDialog.Cancel();
}
