@page "/upload-multiple"
@using Microsoft.AspNetCore.Components.Forms

<h3>Multiple File Upload</h3>

<InputFile OnChange="HandleFilesSelected" Multiple="true" />

@if (uploadedFiles != null && uploadedFiles.Any())
{
    <ul>
        @foreach (var file in uploadedFiles)
        {
            <li>@file.Name (@file.Size / 1024) KB</li>
        }
    </ul>
}

@code {
    private List<IBrowserFile> uploadedFiles = new List<IBrowserFile>();

    private async Task HandleFilesSelected(InputFileChangeEventArgs e)
    {
        foreach (var file in e.GetMultipleFiles())
        {
            uploadedFiles.Add(file);

            var filePath = Path.Combine("D:\\prjct\\gitm\\MobileStoreV2\\MobileStoreV2\\wwwroot\\", "upload-multi", file.Name);


            using (var fileStream = new FileStream(filePath, FileMode.Create))
            {
                await file.OpenReadStream().CopyToAsync(fileStream);
            }

            // The file is now saved to the server in the "wwwroot/uploads" folder.
        }
    }

}
