@page "/Accounting"


@inject IDialogService DialogService



@* Start squr componet  *@
<MudGrid >
    <MudItem xs="4">
        <MudButton Variant="Variant.Filled" Class="d-flex align-center justify-center mud-width-full py-8 px-10"><h4>بيع منتج</h4></MudButton>
    </MudItem>
    <MudItem xs="4">
        <MudButton Variant="Variant.Filled" @onclick="OpenFilterDateDialog" Class="d-flex align-center justify-center mud-width-full py-8 px-10 "><h4>عرض فواتير تاريخ محدد</h4></MudButton>
    </MudItem>
    <MudItem xs="4">
        <MudButton Variant="Variant.Filled" @onclick="OpenDisplayBills" Class="d-flex align-center justify-center mud-width-full py-8 px-10"><h4>عرض حسابات المنتجات</h4></MudButton>
    </MudItem>
    <MudItem xs="4">
        <MudButton Variant="Variant.Filled" Class="d-flex align-center justify-center mud-width-full py-8 px-10"><h4>الكميات</h4></MudButton>
    </MudItem>
    <MudItem xs="4">
        <MudButton Variant="Variant.Filled" Class="d-flex align-center justify-center mud-width-full py-8 px-10"><h4>انواع المواد</h4></MudButton>
    </MudItem>
    <MudItem xs="4">
        <MudButton Variant="Variant.Filled" Class="d-flex align-center justify-center mud-width-full py-8 px-10"><h4>الأصناف</h4></MudButton>
    </MudItem>
     <MudItem xs="4">
        <MudButton Variant="Variant.Filled" Class="d-flex align-center justify-center mud-width-full py-8 px-10"><h4>تسجيل حسابات </h4></MudButton>
    </MudItem>
     <MudItem xs="4">
        <MudButton Variant="Variant.Filled" Class="d-flex align-center justify-center mud-width-full py-8 px-10"><h4>المخزن</h4></MudButton>
    </MudItem>
    <MudItem xs="4">
        <MudButton Variant="Variant.Filled" Class="d-flex align-center justify-center mud-width-full py-8 px-10"><h4>اسعار المنتجات</h4></MudButton>
    </MudItem>
</MudGrid>
@* End squr componet  *@

@code {
    [CascadingParameter] private MudDialogInstance MudDialog { get; set; }

    int timesBackDropClicked;
    void HandleBackdropClick(MouseEventArgs eArgs) =>timesBackDropClicked++;

    

    private bool showInnerComponent = false;
    private readonly DialogOptions _dialogOptions = new() { FullWidth = true };
    private void OpenDialog() => showInnerComponent = true;
    private void Cancel() => showInnerComponent = false;


    private Task OpenDisplayBills()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };
        return DialogService.ShowAsync<DisplayBills>("Simple Dialog", options);
    }
    
    private Task OpenFilterDateDialog()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };
        return DialogService.ShowAsync<FilterDateDialog>("Simple Dialog", options);
    }
}