@inject IDialogService DialogService
<h1>show dialog</h1>
<MudButton @onclick="OpenDialog" Variant="Variant.Filled" Color="Color.Primary">
    Open Simple Dialog
</MudButton>

<MudDialog @bind-IsVisible="showInnerComponent">
    <TitleContent>
        Dialog Title
    </TitleContent>
    <DialogContent>
        Dialog Content
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Cancel">Ok</MudButton>
    </DialogActions>
</MudDialog>

@code {

    private bool showInnerComponent = false;
    private readonly DialogOptions _dialogOptions = new() { FullWidth = true };
    private void OpenDialog() => showInnerComponent = true;
    private void Cancel() => showInnerComponent = false;
    private void submit() => MudDialog.Cancel();

    

    [CascadingParameter]
    private MudDialogInstance MudDialog { get; set; }



}