@page "/Options"
<h3>Options</h3>
<link href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" rel="stylesheet">


<MudTabs Outlined="true">
    <MudTabPanel Text="Api" Icon="@Icons.Material.Filled.Api" >
        <MudText>Content One</MudText>
        <MudPaper Height="400px" Width="100%">
            <MudContainer Fixed="true">
                <MudPaper Height="400px" Width="100%" Square="true" Class="mud-theme-primary"></MudPaper>
            </MudContainer>
        </MudPaper>

    </MudTabPanel>
    <MudTabPanel Icon="@Icons.Material.Filled.Build" >
        <MudText>Content two</MudText>
        <MudPaper Height="400px" Width="100%">
            <MudContainer Fixed="true">
                <MudPaper Height="400px" Width="100%" Square="true" Class="mud-theme-warning"></MudPaper>
            </MudContainer>
        </MudPaper>
    </MudTabPanel>
    <MudTabPanel Text="Bug Report" Icon="@Icons.Material.Filled.BugReport" >
        <MudText>Content three</MudText>
        <MudPaper Height="400px" Width="100%">
            <MudContainer Fixed="true">
                <MudPaper Height="400px" Width="100%" Square="true" Class="mud-theme-secondary"></MudPaper>
            </MudContainer>
        </MudPaper>
    </MudTabPanel>
    <MudTabPanel Text="Database connection" Icon="@Icons.Material.Filled.Storage">
        
        <MudText>Content four</MudText>
        <MudPaper Height="400px" Width="100%">
            <MudContainer Fixed="true">
                <MudPaper Height="400px" Width="100%" Square="true" >
                    <CreateDatabase/>
                </MudPaper>
            </MudContainer>
        </MudPaper>
    </MudTabPanel>
</MudTabs>


@code {

}
